/* Custom CSS from Theme Configuration */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --ifm-color-primary: #005eb8;
  --ifm-color-primary-dark: #0055a6;
  --ifm-color-primary-light: #0067ca;
  --ifm-footer-background-color: #f2f2f2;
  --ifm-font-family-base: "Inter", "Arial", sans-serif;
  --ifm-font-family-monospace: "IBM Plex Mono", "Courier New", monospace;
  --ifm-code-font-size: 95%;
  --ifm-global-radius: 8px;
  --ifm-button-border-radius: 6px;
  --ifm-card-border-radius: 12px;
  --ifm-navbar-height: 4rem;
}
